doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Random Chat
        main
            h2 Welcome to Free Chat!
            p#notification
            form#room-form
                h3 Select or Create a Chat Room 🤟
                input(type="text", placeholder="Type your room name...")
                input(type="submit", value="Enter") 
            form#message-form(hidden=true)
                h3
                input(type="text", placeholder="Send a message...") 
                input(type="submit", value="Send")
            button(hidden=true) Change Nickname
            ul#chat-list
            ul#room-list
        script(src="/socket.io/socket.io.js") 
        script(src="/public/app.js") 